---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<!-- {% include base_path %} -->

<!-- 
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->
<div > 
  <br><br>
  <font size="+3">
    Autnomous Ground Vehicle Research Group  
  </font>
  <br>
   I joined the Autnomous Ground Vehicle <a href="http://agv.iitkgp.ac.in">(AGV)</a> research group 
   <a href="http://iitkgp.ac.in/department/MI/faculty/mi-dc">Prof Debashish Chakravarty</a> in my freshman year. 
    I worked on a wide variety of projects and competitions as a part of the team. Some of which are summarised below.
  <br><br>
  <font size="+2">
    Eklavya 6.0    
  </font><br>
  This is our in-house designed and manufactured robot which won the silver medal in the 26th Intelligent Ground Vehicle Competition. The video shows our victory run in June 2018 at Oakland, Michigan.
  <br><br><article class="video">
      <iframe width="40" height="20"
      src="https://www.youtube.com/embed/nu-RGhk0T80">
      </iframe>
    <!-- <h2 class="videoTitle">IGVC 2018</h2> -->
  </article>


</div> 
